@model do0.Models.Formas

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Formas</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DiretorioItem.NomeDiretorio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DiretorioItem.NomeDiretorio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NomeForma)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NomeForma)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TipoForma)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TipoForma)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TamanhoPixels)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TamanhoPixels)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
