@model IEnumerable<do0.Models.Formas>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.DiretorioItem.NomeDiretorio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NomeForma)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TipoForma)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cor)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TamanhoPixels)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.DiretorioItem.NomeDiretorio)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NomeForma)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TipoForma)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Cor)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TamanhoPixels)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.FormasId }) |
            @Html.ActionLink("Details", "Details", new { id=item.FormasId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.FormasId })
        </td>
    </tr>
}

</table>
